<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bet a Number</title>
</head>
<body>

<h1>Dear <span th:text="${username}"/> <span></h1>
<h2>These are your bets</h2>
<ul>
    <li th:each="bet: ${bettings}">
        Number: <span th:text="${bet.getKey()}" /> Quantity: <span th:text="${bet.getValue()}"/>
    </li>
</ul>

<form method="POST">
    <table>
        <tr>
            <td><input type="submit" style="font-size: 12pt;" value="----- Play! ------"/></td>
        </tr>
    </table>
</form>

<br>
<form method="GET" action="/newGame">
    <table>
        <tr>
            <td><input type="submit" style="font-size: 12pt;" value="----- Cancel the game ------"/></td>
        </tr>
    </table>
</form>

</body>
</html>